<div class="container-fluid">

  <div class="row carousel-container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="myCarousel" class="carousel slide justify-content-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li [ngClass]="carouselSlide.activeFirst == true ? 'active':''"
              *ngFor="let carouselSlide of carouselSlideDeck; let i = index"
              data-target="#myCarousel"
              [attr.data-slide-to]="i"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div [ngClass]="carouselSlide.activeFirst == true ? 'item active':'item'" *ngFor="let carouselSlide of carouselSlideDeck">
            <img src="../../../assets/images/{{ carouselSlide.slideImage }}" alt="Carousel Slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ carouselSlide.slideLabel }}</h5>
              <p>{{ carouselSlide.slideText }}</p>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

</div>
