
<h1 class="work-experience-heading">My Work Experience</h1>

<div *ngFor="let workPositionsGroup of workPositionsGrouped" class="row">

  <div class="horizontal-item-divider"></div>
  <div workPositionsGroupDirective [workPositionsGroup]="workPositionsGroup" *ngFor="let workPosition of workPositionsGroup" class="">

    <div class="work-position-item-heading-group">
      <img workPositionsLogoDirective [workPosition]="workPosition.company" src="" class="work-position-logo pull-left" />
      <h3 class="work-experience-item-heading">{{ workPosition.role }} at {{ workPosition.company }}</h3>
      <h6 workPositionDirective class="work-experience-item-heading">{{ workPosition.startMonthAndYear }} - {{ workPosition.endMonthAndYear }}</h6>
    </div>

    <div class="work-experiences-group">
      <ul>
        <li *ngFor="let workExperience of workPosition.workExperiences">{{ workExperience.description }}</li>
      </ul>
    </div>

  </div>
</div>

