
<!-- Just create a list similar to what you ave for your work experience here: https://stevenheinze.wordpress.com/ -->
<!-- Include ALL of your work experience -->
<!-- Take all backend data and populate it into lists (model what you did in the skills component) -->

<h1 class="work-experience-heading">My Work Experience</h1>
<div *ngFor="let workPositionsGroup of workPositionsGrouped" class="row">
  <div workPositionsGroupDirective [workPositionsGroup]="workPositionsGroup" *ngFor="let workPosition of workPositionsGroup" class="">
    <h3 class="work-experience-item-heading">{{ workPosition.role }} at {{ workPosition.company }}</h3>
    <h6 workPositionDirective class="work-experience-item-heading">{{ workPosition.startMonthAndYear }} - {{ workPosition.endMonthAndYear }}</h6>
    <ul>
      <li *ngFor="let workExperience of workPosition.workExperiences">{{ workExperience.description }}</li>
    </ul>
  </div>
  <div class="horizontal-item-divider"></div>
</div>
<div class="horizontal-item-divider"></div>
