
.work-experience-heading {
  text-align: center;
  clear: both;
}

.work-experience-item-heading {
  text-align: center;
  color: #ED8D8D;
  clear: both;
}

.work-experience-item {
  padding: 1%;
}

.horizontal-item-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  border-top: 1px solid #ED8D8D;
  clear: both;
}

.vertical-item-divider {
  margin-left: 5px;
  margin-right: 5px;
  width: 1px;
  height: 100%;
  border-left: 1px solid #ED8D8D;
}

.work-position-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
