<div class="container-fluid">
  <!--<div class="col-lg-7 mx-auto">-->

    <ul class="timeline">
      <li *ngFor="let timelineItem of timelineItems" class="timeline-item bg-white rounded large ml-3 p-4 shadow">
        <div>
          <div class="timeline-arrow"></div>
          <h2 class="h5 mb-0 timeline-title">{{ timelineItem.title }}</h2>
          <img class="timeline-logo" src="../../../../assets/images/{{ timelineItem.logoFileName }}" />
          <span class="small text-gray timeline-dates"><i class="fa fa-clock-o mr-1"></i>{{ timelineItem.startTime }} - {{ timelineItem.endTime }}</span>
          <p class="timeline-text text-small mt-2 font-weight-light">{{ timelineItem.description }}</p>
        </div>
      </li>
    </ul>

    <!-- Todo List... -->
      <!-- Make the timeline line and dots bigger -->
      <!-- Make the timeline item titles bigger -->
      <!-- Make the timeline item dates slightly bigger -->
      <!-- Make the description the same size as any other text on any other pages -->
      <!-- Make the logo BIG and float it to the right -->
      <!-- Make sure each logo is of the same height and width -->
      <!-- Turn the dundalk high logo into a .png -->
      <!-- Make the desciption text wrap around the logo -->
      <!-- Make sure the timeline items are distanced apart a good amount VERTICALLY -->
      <!-- Make sure the timeline itself is just slightly wider than it is now -->

  <!--</div>-->
</div>
