img {
  height: 100%;
  width: 100%;
}

/* xs */
.headshot {
  border: 1px solid black;
  margin-right: 2%;
  width: 100%;
  height: 100%;
}
/* sm */
@media (min-width: 768px) {
  .headshot {
    width: 35%;
    height: 35%;
  }
}
/* md */
@media (min-width: 992px) {
  .headshot {
    width: 35%;
    height: 35%;
  }
}
/* lg */
@media (min-width: 1200px) {
  .headshot {
    width: 25%;
    height: 25%;
  }
}
