<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <div *ngIf="renderSkills; else displayErrorMessage">
    <h1>My Current Skillset...</h1>
    <p>
      Below are listed all of my current skills ranked by how important/relevent I personally determined/ranked them to be... from a Senior Applications Developer's perspective. Below each skill,
      and likewise ranked the same, are the subskills which I know and have experience with. In general, this is a humble self-assessment from myself on where I believe I stand. This helps me determine for me
      as well what I can continue to work on as a developer, what I need improvement on, what skills I am strong or excel in, what I don't know enough of, etc. In each subskill I give a brief description of
      my experience and knowledge of the technology. Since I know myself enough to know how much of a perfectionist I can sometimes be, I know that the more of these skills I don't see at a hundred percent,
      the more I'll be pushing myself to learn more.
    </p>
    <app-current-skills [skills]="skills" [subSkills]="subSkills"></app-current-skills>

    <h1>Skills I would like to learn...</h1>
    <p>
      Below are listed, as the header implies, skills that I am marking down on my to-do list. These are skills I don't currently have enough time to learn, or would like to gain experience in.
      My ideal goal is to be able to master the above skills I currently hold relative knowledge in, and pickup new skills that I've listed below. As I've done with my current skills above, I've
      ranked these by how interested I am in the technology.
    </p>
    <app-future-skills [futureSkills]="futureSkills"></app-future-skills>
  </div>

  <ng-template #displayErrorMessage>
    <div class="container-fluid fill error-message">
      <h3>Uh Oh... Something went wrong trying to render some data!</h3>
    </div>
  </ng-template>

</div>
