<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <h1>My Current Skillset...</h1>
  <p>
    Below are listed all of my current skills ranked by how important/relevent I personally determined/ranked them to be... from a Junior Applications Developer's perspective. Below each skill,
    and likewise ranked the same, are the subskills which I know and have experience with. In general, this is a humble self-assessment from myself on where I believe I stand. This helps me determine for me
    as well what I can continue to work on as a developer, what I need improvement on, what skills I am strong or excel in, what I don't know enough of, etc. In each subskill I give a brief description of
    my experience and knowledge of the technology. Since I know myself enough to know how much of a perfectionist I can sometimes be, I know that the more of these skills I don't see at a hundred percent,
    the more I'll be pushing myself to learn more.
  </p>

  <!-- Parent Skills Accordion Wrapper - holds all parent skills -->
  <div class="wrapper-accordion">


    <div *ngIf="renderSkills">
      <div *ngFor="let skill of skills; let skillId = index">

        <!-- Parent Skill Heading -->
        <a [attr.id]="'ParentSkill' + skillId" class="skillHeading h4" data-parent="#accordion" data-toggle="collapse" [attr.href]="'#parentSkillAccordion' + skillId" role="button" [attr.aria-controls]="'parentSkillAccordion' + skillId"><strong>{{ skill.name }}<span class="caret"></span></strong></a>
        <div class="progress">
          <div skillsDirective [skill]="skill" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" [style.width]="width">
            <!-- Progress Bar -->
            {{ skill.confidenceLevel }}%
          </div>
        </div>

        <!-- Child Skill Accordion Wrapper -->
        <div class="panel-collapse collapse" role="tabpanel" [attr.id]="'parentSkillAccordion' + skillId" [attr.aria-labelledby]="'ParentSkill' + skillId">

          <!-- Child Skill Accordion -->
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div>
              <div *ngFor="let subSkill of skill.subSkills; let subSkillId = index">

                <!-- Child Skill Accordion Item -->
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" [attr.id]="'heading' + subSkillId + skillId">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapse' + subSkillId + skillId" [attr.aria-controls]="'collapse' + subSkillId + skillId">
                        {{ subSkill.name }}
                      </a>
                    </h4>
                  </div>
                  <div [attr.id]="'collapse' + subSkillId + skillId" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading' + subSkillId + skillId">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- End of For loop for the child accordion -->

          </div>
          <!-- End of child skill accordion -->

        </div>
        <!-- End of child skill accordion wrapper -->

      </div>
      <!-- End of For loop for the parent skill -->

    </div>
    <!-- End of For Loop for Parent Skills -->
    <!-- End of Parent Skills Accordion Wrapper -->
  </div>

  <h1>Skills I would like to learn...</h1>
  <p>
    Below are listed, as the header implies, skills that I am marking down on my to-do list. These are skills I don't currently have enough time to learn, or would like to gain experience in.
    My ideal goal is to be able to master the above skills I currently hold relative knowledge in, and pickup new skills that I've listed below. As I've done with my current skills above, I've
    ranked these by how interested I am in the technology.
  </p>



  <!-- TODO: Get the below future skills to display in groups of three or less, spread horizontally -->
  <!-- Include links to articles/information about each skill -->

  
    <div *ngFor="let futureSkillGroup of futureSkillsGrouped;" class="row row-no-gutters">
        <div futureSkillsDirective [futureSkillGroup]="futureSkillGroup" class="" *ngFor="let futureSkill of futureSkillGroup">


          <div class="future-skill-button btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <a [attr.href]="futureSkill.infoLink" target="_blank" type="button" class="btn btn-default">{{futureSkill.name}}</a>
          </div>

        </div>
            
    </div>
  




  </div>
