<p>
  portfolio works!
</p>

<!-- Look at the list you wrote down of stuff to include -->

<!-- This component should consist of a couple of sub-sections that have your work with links to everything -->

<!-- Include pictures and a brief description of each item -->

<!-- Make this section look sort of fancy -->

<!-- Make something similar to this: https://startbootstrap.com/snippets/about-team/
     But make it so that when images are clicked on they expand with text that the user can read
     either above or below the image -->
