
<h1 class="portfolio-heading">My Portfolio</h1>

<div class="container-fluid">

  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="card portfolio-item-top-left-closed">
        <img class="card-img-top center-block" src="../../../assets/images/new-resume-site.jpeg" alt="" type="button" data-toggle="modal" data-target="#portfolioItem1" />
        <div class="card-body text-center">
          <h4 class="card-title">Resume Site Revised</h4>
        </div>
      </div>
    </div>

    <div class="modal fade" id="portfolioItem1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Resume Site Revised</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>This very site you are reading this from was a project that lasted about a year. This site was completely built and deployed from scratch. The tech stack consists of an Angular 5 frontend with a .net core 2 backend.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modal-close-button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="card portfolio-item-top-right-closed">
        <img class="card-img-top center-block" src="../../../assets/images/original-resume-site.jpeg" alt="" type="button" data-toggle="modal" data-target="#portfolioItem2" />
        <div class="card-body text-center">
          <h4 class="card-title">Original Resume Site</h4>
        </div>
      </div>
    </div>

    <div class="modal fade" id="portfolioItem2" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Original Resume Site</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>This site is my original resume site I first made before I was very comfortable coding my own. This site was made with WordPress and was something simple I wanted to put together following my college graduation. You can check it out here: <a href="https://stevenheinze.wordpress.com/" target="_blank">stevenheinze.wordpress.com</a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modal-close-button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="card portfolio-item-top-left-closed">
        <img class="card-img-top center-block" src="../../../assets/images/ci-cd.jpeg" alt="" type="button" data-toggle="modal" data-target="#portfolioItem3" />
        <div class="card-body text-center">
          <h4 class="card-title">Continuous Integration / Continuous Development (CI/CD)</h4>
        </div>
      </div>
    </div>

    <div class="modal fade" id="portfolioItem3" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Continuous Integration / Continous Development (CI/CD)</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>My area of expertise is in Continuous Integration and Continous Development (CI/CD) which in a nutshell is the delivery of software development and deployment tools to help automate such work. Most of my experience is in this area, supplying developers with the tools to make developing and deploying applications easier with automation. I have developed many different tools to achieve this on large scales.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modal-close-button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="card portfolio-item-top-right-closed">
        <img class="card-img-top center-block" src="../../../assets/images/ups-ci-cd.jpeg" alt="" type="button" data-toggle="modal" data-target="#portfolioItem4" />
        <div class="card-body text-center">
          <h4 class="card-title">UPS.com (CI/CD)</h4>
        </div>
      </div>
    </div>

    <div class="modal fade" id="portfolioItem4" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">UPS.com (CI/CD)</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Related to my previous portfolio item, I was a part of the DevOps team for UPS.com. In my role there, I helped to work on many CI/CD related items to develop, build, and deploy applications for the UPS website. This had direct impacts to customers world wide. My work in this area included Jenkins scripts, Ansible scripts, and minor applications that helped in the overall CI-CD flow.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modal-close-button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="card portfolio-item-top-left-closed">
        <img class="card-img-top center-block" src="../../../assets/images/python-practice.jpeg" alt="" type="button" data-toggle="modal" data-target="#portfolioItem5" />
        <div class="card-body text-center">
          <h4 class="card-title">Python Practice</h4>
        </div>
      </div>
    </div>

    <div class="modal fade" id="portfolioItem5" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Python Practice</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>My focus area as of lately has been increasing my skills in Python programming. To do this and keep track of the progress I've made, I check my latest code into <a href="https://github.com/stevenheinze57/Python-Practice" target="_blank">github</a>.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modal-close-button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="card portfolio-item-top-right-closed">
        <img class="card-img-top center-block" src="../../../assets/images/java-snake-game.jpeg" alt="" type="button" data-toggle="modal" data-target="#portfolioItem6" />
        <div class="card-body text-center">
          <h4 class="card-title">Java Snake Game</h4>
        </div>
      </div>
    </div>

    <div class="modal fade" id="portfolioItem6" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Java Snake Game</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>As part of my desire to become a self-taught developer, I sought to test my skills by developing a Java Snake Game. This was a project I undertook in order to further my skills in Java which at the time was also something that was a particular need for the role I was working in. You can check out my code for this <a href="https://github.com/stevenheinze57/Java-Snake-Game" target="_blank">here</a>.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modal-close-button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="card portfolio-item-top-left-closed">
        <img class="card-img-top center-block" src="../../../assets/images/tu-java-practice.jpeg" alt="" type="button" data-toggle="modal" data-target="#portfolioItem7" />
        <div class="card-body text-center">
          <h4 class="card-title">TU Java Practice</h4>
        </div>
      </div>
    </div>

    <div class="modal fade" id="portfolioItem7" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">TU Java Practice</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>One particular area of work I'm proud of because it was so intriguing was work I did in a senior college class. The goal of this work was practicing with various high level class structures and data: Linked Lists, Double Linked Lists, Binary Trees, etc... You can look at the work I did regarding this <a href="https://github.com/stevenheinze57/Java-Practice" target="_blank">here</a>.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modal-close-button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="card portfolio-item-top-right-closed">
        <img class="card-img-top center-block" src="../../../assets/images/tu-capstone-project.jpeg" alt="" type="button" data-toggle="modal" data-target="#portfolioItem8" />
        <div class="card-body text-center">
          <h4 class="card-title">Towson Univeristy Capstone Project</h4>
        </div>
      </div>
    </div>

    <div class="modal fade" id="portfolioItem8" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Towson Univeristy Capstone Project</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Although later classes have updated the structure of the site, this project was a final IT major project students needed to complete in order to move forward to graduation at Towson State University. The goal of this site was to create a website that gives information regarding the actual class itself. This site was also built with wordpress: <a href="http://wp.towson.edu/itcapstone/" target="_blank">wp.towson.edu/itcapstone/</a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary modal-close-button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
