
.portfolio-heading
 {
  text-align: center;
}

img {
  padding-top: 2%;
  height: 85%;
  width: 85%;
}


.portfolio-item-top-left-closed {
  border: 3px solid #ED8D8D;
  border-radius: 3%;
  color: #ED8D8D;
  background: #1b1b1b;
}

.portfolio-item-top-right-closed {
  border: 3px solid #ED8D8D;
  border-radius: 3%;
  color: #ED8D8D;
  background: #1b1b1b;
}

.portfolio-item-top-left-open {
  border-top: 3px solid #ED8D8D;
  border-left: 3px solid #ED8D8D;
  border-right: 3px solid #ED8D8D;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  background: #1b1b1b;
}

.portfolio-item-top-right-open {
  border-top: 3px solid #ED8D8D;
  border-left: 3px solid #ED8D8D;
  border-right: 3px solid #ED8D8D;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  background: #1b1b1b;
}

.card-img-top:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.row {
  padding-bottom: 3%;
}

.modal-content {
  background: #1b1b1b;
}

.modal-title {
  color: #ED8D8D;
}

.modal-close-button {
  color: #1b1b1b;
}

.close {
  color: #ED8D8D;
}
