<div class='container'>

  <div class="row">
    <app-nav (featureSelected)="onNavigate($event)"></app-nav>
  </div>

  <div class="row">
    <div class="col-md-3">
      <app-home *ngIf="loadedFeature === 'Home'"></app-home>
      <app-resume *ngIf="loadedFeature === 'Resume and Portfolio'"></app-resume>
      <app-coolstuff *ngIf="loadedFeature === 'Cool Stuff'"></app-coolstuff>
      <app-devhelp *ngIf="loadedFeature === 'Dev Help'"></app-devhelp>
      <app-sandboxprojects *ngIf="loadedFeature === 'Sandbox Projects'"></app-sandboxprojects>
    </div>
  </div>

</div>
