<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Steve's Resume Site</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#" (click)="onSelect('Home')">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Resume/Portfolio<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" (click)="onSelect('Skillset')">Skillset</a></li>
          <li><a href="#" (click)="onSelect('Education')">Education</a></li>
          <li><a href="#" (click)="onSelect('Work Experience')">Work Experience</a></li>
          <li><a href="#" (click)="onSelect('Developer Portfolio')">Developer Portfolio</a></li>
          <li><a href="#" (click)="onSelect('Contact')">Contact</a></li>
        </ul>
      </li>
      <li><a href="#" (click)="onSelect('Cool Stuff')">Cool Stuff</a></li>
      <li><a href="#" (click)="onSelect('Dev Help')">Dev Help</a></li>
      <li><a href="#" (click)="onSelect('Sandbox Projects')">Sandbox Projects</a></li>
    </ul>
  </div>
</nav>
