

  <div class="container-fluid">
    <h1 class="education-heading">My Education History</h1>

    <!--first section-->
    <div class="row align-items-center how-it-works">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center bottom timeline-content-col" id="{{ timelineItem1.name }}">
        <div class="circle"></div>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 timeline-content-col">
        <div class="timeline-heading">
          <h3>{{ timelineItem1.title }}</h3>
          <h5>{{ timelineItem1.startTime }} - {{ timelineItem1.endTime }}</h5>
          <img src="../../../assets/images/{{ timelineItem1.logoFileName }}" class="timeline-img" />
        </div>
        <div class="timeline-text">
          <p>{{ timelineItem1.description }}</p>
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <!-- Space Filler -->
      </div>
    </div>

    <!--path between 1-2-->
    <div class="row timeline">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="corner-btm-left"></div>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <hr />
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="corner-top-right"></div>
      </div>
    </div>

    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="{{ timelineItem2.name }}">
        <!-- Space Filler -->
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 timeline-content-col">
        <div class="timeline-text">
          <p>{{ timelineItem2.description }}</p>
        </div>
        <div class="timeline-heading">
          <h3>{{ timelineItem2.title }}</h3>
          <h5>{{ timelineItem2.startTime }} - {{ timelineItem2.endTime }}</h5>
          <img src="../../../assets/images/{{ timelineItem2.logoFileName }}" class="timeline-img" />
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center full-right timeline-content-col">
        <div class="circle"></div>
      </div>
    </div>

    <!--path between 2-3-->
    <div class="row timeline">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="corner-top-left"></div>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <hr />
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="corner-btm-right"></div>
      </div>
    </div>

    <!--third section-->
    <div class="row align-items-center how-it-works">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center full-left timeline-content-col" id="{{ timelineItem3.name }}">
        <div class="circle"></div>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 timeline-content-col">
        <div class="timeline-heading">
          <h3>{{ timelineItem3.title }}</h3>
          <h5>{{ timelineItem3.startTime }} - {{ timelineItem3.endTime }}</h5>
          <img src="../../../assets/images/{{ timelineItem3.logoFileName }}" class="timeline-img" />
        </div>
        <div class="timeline-text">
          <p>{{ timelineItem3.description }}</p>
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <!-- Space Filler -->
      </div>
    </div>

    <!--path between 3-4-->
    <div class="row timeline">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="corner-btm-left"></div>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <hr />
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="corner-top-right"></div>
      </div>
    </div>

    <!--fourth section -->
    <div class="row align-items-center how-it-works">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="{{ timelineItem4.name }}">
        <!-- Space Filler -->
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 timeline-content-col">
        <div class="timeline-text">
          <p>{{ timelineItem4.description }}</p>
        </div>
        <div class="timeline-heading">
          <h3>{{ timelineItem4.title }}</h3>
          <h5>{{ timelineItem4.startTime }} - {{ timelineItem4.endTime }}</h5>
          <img src="../../../assets/images/{{ timelineItem4.logoFileName }}" class="timeline-img" />
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center top timeline-content-col">
        <div class="circle"></div>
      </div>
    </div>

  </div>
