<!--<div class="container">

    <app-timeline [timelineItems]="timelineItems"></app-timeline>

    <div class="timeline-arrow align-items-center education-item">
      <div class="col-2 text-center bottom">
        <div class="circle">
          1
        </div>
      </div>
      <div class="col-6">
        <h5>Item 1</h5>
        <p>Rebum duo illum nisl te vel sanctus et dolores sit ipsum diam est nonumy sit nisl voluptua eirmod cum tation</p>
      </div>
    </div>


</div>-->


<div class="container-fluid blue-bg">
  <div class="container">
    <h2 class="pb-3 pt-2">Vertical Left-Right Timeline</h2>
    <!--first section-->
    <div class="row align-items-center how-it-works">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center bottom timeline-content-col">
        <div class="circle">1</div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 timeline-content-col">
        <h5>Fully Responsive</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
      </div>
    </div>
    <!--path between 1-2-->
    <div class="row timeline">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="corner-btm-left"></div>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <hr />
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="corner-top-right"></div>
      </div>
    </div>
    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right timeline-content-col">
        <h5>Using Bootstrap</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center full timeline-content-col">
        <div class="circle">2</div>
      </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="corner-top-left"></div>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <hr />
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="corner-btm-right"></div>
      </div>
    </div>
    <!--third section-->
    <div class="row align-items-center how-it-works">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center top timeline-content-col">
        <div class="circle">3</div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 timeline-content-col">
        <h5>Now with Pug and Sass</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.</p>
      </div>
    </div>
  </div>
</div>
