

.education-heading {
  text-align: center;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #ED8D8D;
  color: #4D4545;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}

  .how-it-works.row .timeline-content-col {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }

  .how-it-works.row .timeline-content-col::after {
    content: "";
    position: absolute;
    border-left: 3px solid #ED8D8D;
    z-index: 1;
  }

    .how-it-works.row .timeline-content-col.bottom::after {
      height: 50%;
      left: calc(50% - 0px);
      top: 50%;
    }

    .how-it-works.row .timeline-content-col.full-left::after {
      height: 100%;
      left: calc(50% - 0px);
    }

    .how-it-works.row .timeline-content-col.full-right::after {
      height: 100%;
      left: calc(50% - 3px);
    }

    .how-it-works.row .timeline-content-col.top::after {
      height: 50%;
      left: calc(50% - 3px);
      top: 0;
    }

.timeline div {
  padding: 0;
  height: 40px;
}

.timeline hr {
  border-top: 3px solid #ED8D8D;
  margin: 0;
  top: 17px;
  position: relative;
}

.timeline .timeline-content-col {
  display: flex;
  overflow: hidden;
}



.timeline .corner-btm-left {
  border-left: 3px solid #ED8D8D;
  border-bottom: 3px solid #ED8D8D;
  width: 50%;
  position: relative;
  border-bottom-left-radius: 15px;
  left: 50%;
  top: -50%;
}

.timeline .corner-top-right {
  border-top: 3px solid #ED8D8D;
  border-right: 3px solid #ED8D8D;
  width: 50%;
  position: relative;
  border-top-right-radius: 15px;
  top: calc(50% - 3px);
}

.timeline .corner-btm-right {
  border-right: 3px solid #ED8D8D;
  border-bottom: 3px solid #ED8D8D;
  width: 50%;
  position: relative;
  border-bottom-right-radius: 15px;
  top: -50%
}

.timeline .corner-top-left {
  border-top: 3px solid #ED8D8D;
  border-left: 3px solid #ED8D8D;
  width: 50%;
  position: relative;
  border-top-left-radius: 15px;
  left: 50%;
  top: calc(50% - 3px);
}

.timeline-heading {

}

.timeline-text {
  padding: 3%;
}
