<div class="row" style="display: flex; padding-top: 2%; padding-bottom: 2%;">
  <div [ngClass]="columnLayout" *ngFor="let card of cardDeck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/{{ card.cardImage }}" alt="Card Image">
      <div class="card-body">
        <ng-container *ngIf="card.cardLink.includes('pdf'); else nonPdf">
          <p class="card-text"><a href="{{ card.cardLink }}" download>{{ card.cardText }}</a></p>
        </ng-container>
        <ng-template #nonPdf>
          <p class="card-text"><a href="{{ card.cardLink }}" target="_blank">{{ card.cardText }}</a></p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
