
<h1 class="portfolio-heading">Contact Me</h1>

<hr />

<div class="container-fluid">
  <p>If you would like to contact me, please send me an email to <a href="mailto: stevenheinze57@gmail.com">stevenheinze57@gmail.com</a>. You can also send me a message with your email and/or phone number and I will get back to you as soon as I can!</p>

  <div class="container-fluid">
    <div class="form-group">

      <div class="input-group input-group-lg">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" placeholder="Name">
      </div>

      <div class="input-group input-group-lg">
        <span class="input-group-addon">Email</span>
        <input type="text" class="form-control" placeholder="Email">
      </div>

      <div class="input-group input-group-lg">
        <span class="input-group-addon">Phone Number</span>
        <input type="text" class="form-control" placeholder="Phone Number">
      </div>

      <div class="input-group input-group-addon">
        <span class="input-group-text">Message</span>
      </div>
      <textarea class="form-control" rows="5" cols="10" placeholder="Message"></textarea>

    </div>
  </div>

</div>

<hr />
